.vs/
.vscode/
HybridCLRData/LocalIl2CppData-WindowsEditor
HybridCLRData/StrippedAOTDllsTempProj
AB/BuildReport/
AB/Full/
AB/Package/
AB/Packed/
AB/Working/
BuildApp/
HybridCLRData/
.idea/

# unity generated folders
library/
temp/
obj/
build/
builds/
logs/
bin/
Library/*
Temp/
Obj/
Build/
Builds/
Logs/
Bin/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*Resharper*
*ReSharper*
*.orig
*.orig.*

# Builds
*.apk
*.apk.meta
*.unitypackage
*.unitypackage.meta